body {
    margin: 0;
    background-image: url(pictures/flor.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f9f9f9;
}

.containers {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "buttonarea"
    "main-content";
}
.contenidomain {
    display: grid;
    grid-template-rows: 0.6fr 0.3fr auto;
    grid-template-areas:
        "header"
        "buttonarea"
        "main-content";
}

.header {
    background-color: #A9C6D9;
    background-image: url("pictures/fondoheader.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* ESTIRA sin cambiar tamaño del header */

    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 200%;
    grid-area: header;
    padding: 20px;
    color: #3C3C3C;
}


.buttonarea {
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
    background-color: #A9C6D9;
    grid-area: buttonarea;
    padding: 0.3% 2%;
}

.btn-black {
    font-family:    'Cinzel', serif;;
    display: inline-block;
    margin: 1% 2%;
    padding: 1% 3%;
    background: #2F4F4F;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 1rem;
    min-width: 20%;
}

.btn-black:hover {
    background-color: #2C7D56;
    transform: scale(1.2);
}



.main-content {
    position: relative;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "aside_left section aside_right";
    background-color: rgba(169, 198, 217, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: main-content;
    z-index: 1;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0.3px);
    
    z-index: -1;
}


.section {
  grid-area: section;
  width: 100%;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  width: 100%;
  margin: 0 auto;
}

.image-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-title,
.image-author {
    padding: 8px;
    text-align: center;
    font-size: 0.95rem;
}

.image-title {
    font-weight: bold;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

.image-author {
    font-style: italic;
    color: #555;
    /*background-color: #f0f0f0;*/
    border-top: 1px solid #ddd;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 30px auto;
    width: 60%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}


a {
    text-decoration: none;
    color: inherit;
}

.aside_left {
    grid-area: aside_left;
}

.aside_right {
    grid-area: aside_right;
}


h3 {
    font-size: 1.2rem;
    margin: 8px 0 4px;
    color: #333;
    font-weight: 600;
    text-align: center;
}

h4 {
    font-size: 0.95rem;
    margin: 0 0 10px;
    color: #666;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 50%;
    margin: 20px auto;
}

.social-item {
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.social-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.social-item:hover {
    background-color: #f2c94c;
}

.social-item a:hover {
    color: #fff;
}

ul{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}






@media (max-width: 768px) {
    .containers {
        display: block;
    }

    .header {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        text-align: center;
        padding: 10px;
        font-size: 2.3vh;
    }
}

    .buttonarea {
        position: sticky;
        top: 0;
        padding: 1px;
        text-align: center;
    }

    .buttonarea .btn-black {
        display: inline-block;
        margin: 2% 1%;
        padding: 2% 4%;
        min-width: 10%;
        width: auto;
        font-size: 1.2rem;
    }

    .main-content {
        display: block;
        background-position: center;
        background-size: cover;
        padding: 10px;
        grid-template-areas: none;
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .sheet-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.aside_left,
.aside_right,
.section {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}