.containers {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.4fr;
    grid-template-rows: 0.6fr 0.3fr 2.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "buttonarea buttonarea buttonarea"
        "aside_left section aside_right";
}

.header {
    text-align: center;
    background-color: orange;
    grid-area: header;
}

.buttonarea {
    text-align: center;
    background-color: pink;
    grid-area: buttonarea;
}

.section {
    background-color: white;
    grid-area: section;
}

.aside_left {
    background-color: blue;
    grid-area: aside_left;
}

.aside_right {
    background-color: blueviolet;
    grid-area: aside_right;
}

